In [1]:
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.preprocessing import OneHotEncoder

In [2]:
features = make_classification()#(n_samples=100, n_features=2, n_classes=10, n_informative=5)
df = pd.DataFrame(features[1], columns=['category'])

In [3]:
pd.get_dummies(df['category'])

    0  1
0   0  1
1   0  1
2   1  0
3   0  1
4   0  1
5   1  0
6   0  1
7   0  1
8   0  1
9   1  0
10  1  0
11  0  1
12  0  1
13  0  1
14  0  1
15  1  0
16  1  0
17  0  1
18  1  0
19  0  1
20  1  0
21  0  1
22  1  0
23  0  1
24  1  0
25  0  1
26  0  1
27  0  1
28  1  0
29  1  0
.. .. ..
70  0  1
71  0  1
72  0  1
73  0  1
74  1  0
75  1  0
76  1  0
77  1  0
78  0  1
79  1  0
80  1  0
81  1  0
82  0  1
83  0  1
84  0  1
85  0  1
86  0  1
87  0  1
88  0  1
89  1  0
90  1  0
91  0  1
92  0  1
93  1  0
94  1  0
95  1  0
96  0  1
97  1  0
98  1  0
99  1  0

[100 rows x 2 columns]

In [4]:
encoder = OneHotEncoder().fit(df.values)
encoder.transform(df.values).todense()

matrix([[0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.],
        [0., 1.],
        [1., 0.],
        [1., 0.],
        [1., 0.]])