In [56]:
import itertools
import numpy as np
import pandas as pd
from scipy import sparse

In [65]:
n_item = 20
n_user = 10
user_item_matrix = np.random.randint(2, size=n_user*n_item).reshape((n_user, -1))
user_item_matrix = sparse.lil_matrix(item_user_matrix)

In [66]:
pd.DataFrame(user_item_matrix.todense(), index=[f'user_{i}' for i in range(n_user)], columns=[f'item_{i}' for i in range(n_item)])

,item_0,item_1,item_2,item_3,item_4,item_5,item_6,item_7,item_8,item_9,item_10,item_11,item_12,item_13,item_14,item_15,item_16,item_17,item_18,item_19
user_0,1,1,1,1,1,0,1,0,0,0,1,1,1,1,1,1,0,1,0,1
user_1,1,1,0,1,0,0,0,0,1,1,0,1,1,0,0,0,0,0,0,0
user_2,1,0,1,0,1,1,0,0,1,1,0,1,0,1,0,0,1,1,0,1
user_3,1,0,1,0,0,0,1,1,1,1,1,1,0,0,0,0,1,1,0,1
user_4,1,0,0,0,1,0,1,1,1,1,1,0,0,0,0,1,1,0,0,1
user_5,0,0,0,0,1,0,0,1,1,1,1,1,1,1,0,0,0,0,0,1
user_6,1,1,1,0,0,0,1,0,0,1,0,1,1,1,1,0,0,1,1,0
user_7,0,0,0,1,0,1,0,0,1,1,0,0,0,1,0,0,0,1,0,0
user_8,1,0,1,0,1,1,0,0,1,0,0,1,1,1,1,0,0,0,0,0
user_9,0,0,0,1,0,1,0,1,0,1,1,1,0,1,0,0,0,1,0,1

In [68]:
user_item_dict = {}
for i, row in enumerate(user_item_matrix.rows):
    user_item_dict[i] = set(row)

In [69]:
def jaccard(set_1, set_2):
    n_union = len(set_1.union(set_2))
    if n_union == 0:
        return 0
    return len(set_1.intersection(set_2)) / n_union

In [75]:
jaccard_similarities = sparse.lil_matrix((n_user, n_user))
for i, j in itertools.combinations(np.arange(n_user), 2):
    jaccard_similarities[i, j] = jaccard(item_user_dict[i], item_user_dict[j])
    jaccard_similarities[j, i] = jaccard_similarities[i, j]
for i in range(n_user):
    jaccard_similarities[i, i] = 1
jaccard_similarites = jaccard_similarities.tocsc()

In [76]:
pd.DataFrame(jaccard_similarities.todense(), index=[f'user_{i}' for i in range(n_user)], columns=[f'user_{i}' for i in range(n_user)])

,user_0,user_1,user_2,user_3,user_4,user_5,user_6,user_7,user_8,user_9
user_0,1.000000,0.312500,0.388889,0.388889,0.333333,0.352941,0.562500,0.176471,0.437500,0.352941
user_1,0.312500,1.000000,0.285714,0.285714,0.214286,0.333333,0.384615,0.300000,0.333333,0.230769
user_2,0.388889,0.285714,1.000000,0.571429,0.400000,0.428571,0.375000,0.416667,0.538462,0.428571
user_3,0.388889,0.285714,0.571429,1.000000,0.615385,0.428571,0.375000,0.214286,0.250000,0.428571
user_4,0.333333,0.214286,0.400000,0.615385,1.000000,0.461538,0.166667,0.142857,0.187500,0.266667
user_5,0.352941,0.333333,0.428571,0.428571,0.461538,1.000000,0.250000,0.250000,0.384615,0.500000
user_6,0.562500,0.384615,0.375000,0.375000,0.166667,0.250000,1.000000,0.214286,0.428571,0.250000
user_7,0.176471,0.300000,0.416667,0.214286,0.142857,0.250000,0.214286,1.000000,0.250000,0.500000
user_8,0.437500,0.333333,0.538462,0.250000,0.187500,0.384615,0.428571,0.250000,1.000000,0.200000
user_9,0.352941,0.230769,0.428571,0.428571,0.266667,0.500000,0.250000,0.500000,0.200000,1.000000